<%-include('./adminIncludes/head.ejs')%>
    <%-include('./adminIncludes/nav.ejs')%>

        <div class="w-full lg:w-6/12 m-auto bg-gray-100 shadow-lg p-10 my-3">
            <h1 class="text-2xl font-poppins text-center">Login</h1>
            <%if(error){%>
                <p class="text-center text-base text-red-500 font-poppins my-1">
                    <%-error%>
                </p>
                <%}%>
                    <form action="/admin/login" method="post">

                        <div class="flex flex-col">
                            <label for="name" class="my-2">E-post *</label>
                            <input type="email" required name="email" placeholder="E-post"
                                class="p-2 rounded border-2 border-blue-500 text-lg ">
                        </div>
                        <div class="flex flex-col relative">
                            <label for="name" class="my-2 peer-placeholder-shown:uppercase">Lösenord *</label>
                            <input type="password" required name="password" placeholder="Lösenord"
                                class="peer p-2 rounded border-2 border-blue-500 text-lg ">
                            <input type="hidden" required name="_csrf" value="<%= csrfToken %>">
                        </div>

                        <div class="items-center my-3 flex justify-between">
                            <button class="rounded bg-yellow-400 py-2 px-5 text-lg text-gray-700">Login</button>
                            <a href="/admin/reset-password" class="text-yellow-600">Reset password</a>
                        </div> </form>

        </div>

        <%-include('./adminIncludes/footer.ejs')%>

            </body>

            </html>