<%-include('../includes/header.ejs')%>

<div class="container p-10 m-auto mt-10">
    <h1 class="text-4xl mb-10">Kontakta Säljare</h1>
    <div>
        <div class=" p-5">
            <div class="flex flex-col">
                <a href="tel:+46852509610" class="text-lg text-green-400 mb-2">+46(0)8-52509610</a>
                <p class="text-lg text-gray-700 mb-2">Öppettider växel:</p>
                <p class="text-lg text-gray-800 mb-2">Måndag - fredag 07:00 - 18:00</p>
                <a href="mailto:roofs@midsummer.se" class="text-lg text-gray-700 mb-2">roofs@midsummer.se</a>
                <p class="text-lg text-gray-800 my-5 font-bold">Elektronik höjden 6 <br> 175 43 järfälla</p>
            </div>
        </div>
    </div>
</div>

<%-include('../includes/help.ejs')%>
<div class="md:p-20 p-5 bg-gray-300 mt-20 bottom-0 mx-2">
    <%-include('../includes/newsletter.ejs')%>
        <%-include('../includes/bottomNav.ejs')%>
</div>

<%-include('../includes/footer.ejs')%>