<%-include('../includes/header.ejs')%>


<div class="flex flex-row justify-between space-x-5 m-16">
    <!-- top -->
    <div class="flex-1 bg-green-600 p-10 rounded-md">
        <h1 class="text-2xl ml-10 text-gray-50">Ditt resultat</h1>
        <div class="flex flex-row justify-around mt-6">
            <div class="flex flex-col items-center">
                <h1 class="text-gray-50 text-xl">200 m2</h1>
                <h1 class="text-gray-50 text-base my-2">midsummer SLIM</h1>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-gray-50 text-xl">3993 kWh</h1>
                <h1 class="text-gray-50 text-base my-2">årsproduktion</h1>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-gray-50 text-xl">7,4 kW</h1>
                <h1 class="text-gray-50 text-base my-2">installerat effekt</h1>
            </div>
        </div>
        <!-- middle  -->
        <div class="p-10">
            <h1 class="text-2xl text-gray-50 my-5">Det här ingår</h1>
            <div class="flex flex-row justify-between">
                <div class="ml-5">
                    <ul class="list-disc">
                        <li class="text-gray-50 text-lg">Installation</li>
                        <li class="text-gray-50 text-lg">Rivning av nuvarande tak</li>
                        <li class="text-gray-50 text-lg">Restid</li>
                        <li class="text-gray-50 text-lg">Elektriker</li>
                        <li class="text-gray-50 text-lg">Midsummer SLIM</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-disc">
                        <li class="text-gray-50 text-lg">Installation</li>
                        <li class="text-gray-50 text-lg">Rivning av nuvarande tak</li>
                        <li class="text-gray-50 text-lg">Restid</li>
                        <li class="text-gray-50 text-lg">Elektriker</li>
                        <li class="text-gray-50 text-lg">Midsummer SLIM</li>
                    </ul>
                </div>
                
            </div>
        </div>


        <!-- bottom -->
        <div class="p-5 mt-5">
            <h1 class="text-2xl text-gray-50 mb-5">Uppskattat pris</h1>
            <div class="flex flex-row space-x-10 my-3 ml-5">
                <p class="text-gray-50 text-lg capitalize">originalpris</p>
                <span class="text-gray-50 text-lg">290 000</span>
            </div>
            <div class="flex flex-row space-x-10 my-3 ml-5 items-center">
                <p class="text-gray-50 text-lg capitalize">Rotavdrag</p>
                <span class="text-gray-50 text-lg"> -30 000</span>
            </div>
            <div class="flex flex-row space-x-10 my-3 ml-5 items-center">
                <p class="text-gray-50 text-lg capitalize">rabbat</p>
                <span class="text-gray-50 text-lg"> -19 500</span>
            </div>
            <div class="w-60 h-1 bg-gray-50 rounded-xl"></div>
            <div class="flex flex-row space-x-10 my-3 ml-5 items-center">
                <p class="text-xl text-gray-50">ditt pris</p>
                <span class="text-gray-50 text-xl">240 500</span>
            </div>
        </div>


    </div>
    <!-- left side -->

    <div class="flex-1 p-10 px-16 bg-green-100 rounded-md">
        <div class="flex flex-row items-center space-x-10 justify-center">
            <h1 class="text-green-700 text-xl">Jag vill ha en offert</h1>
            <div class="h-16 w-1 rounded bg-red-400"></div>
            <a class="text-gray-500 text-xl" href="#">Maila mig resultatet</a>
        </div>

        <form>
            <div class="flex flex-col my-4">
                <label for="firstname" class="text-lg my-2 text-gray-500">Förnamn *</label>
                <input type="text" id="firstname" name="name" placeholder="Förnamn" class="p-3.5 rounded-xl">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            </div>
            <div class="flex flex-col my-4">
                <label for="efternamn" class="text-lg my-2 text-gray-500">Efternamn *</label>
                <input type="text" id="efternamn" name="lastname" placeholder="Förnamn" class="p-3.5 rounded-xl">
            </div>
            <div class="flex flex-col my-4">
                <label for="telefonnummer" class="text-lg my-2 text-gray-500">Telefonnummer *</label>
                <input type="text" id="telefonnummer" name="number" placeholder="Förnamn" class="p-3.5 rounded-xl">
            </div>
            <div class="flex flex-col my-4">
                <label for="email" class="text-lg my-2 text-gray-500">E-postadress *</label>
                <input type="text" id="email" name="email" placeholder="Förnamn" class="p-3.5 rounded-xl">
            </div>

            <div class="flex flex-row items-center space-x-5 my-10">
                <input type="checkbox" name="join" id="join" class="h-6 w-6">
                <label for="join" class="text-gray-600">Jag är intresserad av att få nyheter av midsummer</label>
            </div>
            <div class="flex flex-row items-center space-x-5 my-5">
                <input type="checkbox" name="join" id="accept" class="h-6 w-6">
                <label for="accept" class="text-gray-600">Ja, Jag godkänner personuppgiftspolicyn</label>
            </div>
            <button class="px-10 py-4 rounded-xl text-gray-50 text-lg bg-green-600 my-5">Begär offert</button>
        </form>


    </div>
</div>



<%-include('../includes/help.ejs')%>
<div class="md:p-20 p-5 bg-gray-300 mt-20 bottom-0 mx-2">
    <%-include('../includes/newsletter.ejs')%>
        <%-include('../includes/bottomNav.ejs')%>
</div>

<%-include('../includes/footer.ejs')%>