<%-include('../includes/header.ejs')%>

<h1 class="text-3xl m-10 ">Vilken sorts solcellstak vill du installera?</h1>

<form action="/products" method="post" class="p-10">
    <div class="flex flex-row space-x-10">
        
        <div class="p-5 w-96 bg-gray-300 rounded-xl">
            <div class="flex items-center space-x-5 my-2">
                <input type="radio" class="h-8 w-8" name="tak" value="wave" id="first">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                <label for="first" class="text-xl">WAVE</label>
            </div>
            <div class="flex justify-between my-4">
                <p class="text-xl">WAVE - för takpannor</p>
                <button type="button" class="underline text-xl wave text-green-600">Info</button>
            </div>
            <img src="/images/house3.png" alt="house picture" width="100%">
        </div>
        <div class="p-5 w-96 bg-gray-300 rounded-xl">
            <div class="flex items-center space-x-5 my-2">
                <input type="radio" class="h-8 w-8" name="slim" value="Kvadratiskt" id="second">
                <label for="second" class="text-xl">SLIM</label>
            </div>
            <div class="flex justify-between my-4">
                <p class="text-xl">SLIM - för plåttak</p>
                <button type="button" class="underline slim text-xl text-green-600">Info</button>
            </div>
            <img src="/images/house3.png" alt="house picture" width="100%">
        </div>
        <div class="p-5 w-96 bg-gray-300 rounded-xl">
            <div class="flex items-center space-x-5 my-2">
                <input type="radio" class="h-8 w-8" name="tak" value="bold" id="third">
                <label for="third" class="text-xl">BOLD</label>
            </div>
            <div class="flex justify-between my-4">
                <p class="text-xl">BOLD - för papptak</p>
                <button type="button" class="underline bold text-xl text-green-600">Info</button>
            </div>
            <img src="/images/house3.png" alt="house picture" width="100%">
        </div>
    </div>

    <div class="flex flex-row space-x-5 mt-10">
        <button class="px-7 py-4 rounded-lg bg-green-600 text-gray-50" type="submit">NÄSTA</button>
        <button class="px-7 py-4 rounded-lg bg-green-600 text-gray-50" type="button">HJÄLP</button>
    </div>
</form>



    <div class="absolute hidden waveInfo bg-transparent w-full h-full top-0 left-0 right-0 bottom-0">
          <div class=" absolute top-1/2 transform -translate-y-1/2 left-1/2 -translate-x-1/2 justify-center md:w-3/5 mx-2 p-10 bg-gray-100 rounded transition duration-300 ease-in-out">
            <h1 class="font-poppins text-4xl mb-10 text-gray-800">midsummer WAVE</h1>
            <p class="text-gray-800 leading-relaxed mb-5 font-poppins"> 
                - Säljs med komplett takbyte eller eftermontering på befintliga takpannor 
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Passar tvåkupiga takpannor (Palema från Benders och Jönåker från Monier) 
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Tillverkad i Sverige med rekordlågt CO2-utsläpp - Material av CIGS på rostfritt stål
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Ultratunna 2 mm - Effekt: 110 W/m² 
              </p>
              <p class="mb-10 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Solcellens verkningsgrad: 15 %
              </p> 
            <div class="mt-6">
              <button class="uppercase rounded py-4 px-4  md:px-10 bg-green-500 text-white font-semibold helpAccept">ok</button>
              <a href="/contact" class=" rounded px-4 py-4 md:px-5 bg-green-500 text-white font-semibold" >Jag behöver mer
                hjälp</a>
            </div>
          </div>
        </div>

        <div class="absolute hidden slimInfo bg-transparent w-full h-full top-0 left-0 right-0 bottom-0">
            <div class=" absolute top-1/2 transform -translate-y-1/2 left-1/2 -translate-x-1/2 justify-center md:w-3/5 mx-2 p-10 bg-gray-100 rounded transition duration-300 ease-in-out">
              <h1 class="font-poppins text-4xl mb-10 text-gray-800">midsummer SLIM</h1>
              <p class="text-gray-800 leading-relaxed mb-5 font-poppins"> 
                - Säljs med komplett takbyte eller eftermontering på befintliga takpannor 
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Passar tvåkupiga takpannor (Palema från Benders och Jönåker från Monier) 
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Tillverkad i Sverige med rekordlågt CO2-utsläpp - Material av CIGS på rostfritt stål
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Ultratunna 2 mm - Effekt: 110 W/m² 
              </p>
              <p class="mb-10 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Solcellens verkningsgrad: 15 %
              </p> 
              <div class="mt-6">
                <button class="uppercase rounded py-4 px-4  md:px-10 bg-green-500 text-white font-semibold helpAccept">ok</button>
                <a href="/contact" class=" rounded px-4 py-4 md:px-5 bg-green-500 text-white font-semibold" >Jag behöver mer
                  hjälp</a>
              </div>
            </div>
          </div>


          <div class="absolute hidden boldInfo bg-transparent w-full h-full top-0 left-0 right-0 bottom-0">
            <div class=" absolute top-1/2 transform -translate-y-1/2 left-1/2 -translate-x-1/2 justify-center md:w-3/5 mx-2 p-10 bg-gray-100 rounded transition duration-300 ease-in-out">
              <h1 class="font-poppins text-4xl mb-10 text-gray-800">midsummer BOLD</h1>
              <p class="text-gray-800 leading-relaxed mb-5 font-poppins"> 
                - Säljs med komplett takbyte eller eftermontering på befintliga takpannor 
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Passar tvåkupiga takpannor (Palema från Benders och Jönåker från Monier) 
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Tillverkad i Sverige med rekordlågt CO2-utsläpp - Material av CIGS på rostfritt stål
              </p>
              <p class="mb-5 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Ultratunna 2 mm - Effekt: 110 W/m² 
              </p>
              <p class="mb-10 text-gray-800 leading-relaxed	 font-poppins text-lg">                
                  - Solcellens verkningsgrad: 15 %
              </p>                                  
              <div class="mt-6">
                <button class="uppercase rounded py-4 px-4  md:px-10 bg-green-500 text-white font-semibold helpAccept">ok</button>
                <a href="/contact" class=" rounded px-4 py-4 md:px-5 bg-green-500 text-white font-semibold" >Jag behöver mer
                  hjälp</a>
              </div>
            </div>
          </div>




<%-include('../includes/help.ejs')%>
<div class="md:p-20 p-5 bg-gray-300 mt-20 bottom-0 mx-2">
    <%-include('../includes/newsletter.ejs')%>
        <%-include('../includes/bottomNav.ejs')%>
</div>

<%-include('../includes/footer.ejs')%>