<%-include('../includes/header.ejs')%>

<div class="p-10">
    <div class="py-2 mt-7">
        <h1 class="text-2xl font-poppins">Vilken sorts tak har du?</h1>
    </div>
    
    <form action="/roof-material" method="post">
        
        <div class="flex flex-row items-center p-5">
            <input type="radio" id="plåttak" name="material" value="tin" class="h-8 w-8">
            <label for="plåttak" class="text-xl ml-5">Plåttak</label>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">

        </div>
        <div class="flex flex-row items-center p-5">
            <input type="radio" name="material" id="takpannor" value="tiled" class="h-8 w-8">
            <label for="takpannor" class="text-xl ml-5">Takpannor</label>
        </div>
        <div class="flex flex-row items-center p-5">
            <input type="radio" name="material" id="papptak" value="felt" class="h-8 w-8">
            <label for="papptak" class="text-xl ml-5">Papptak</label>
        </div>
        <div class="flex flex-row items-center p-5">
            <input type="radio" id="eterniktak" name="material" value="eternit" class="h-8 w-8">
            <label for="eterniktak" class="text-xl ml-5">Eternittak</label>
        </div>
        <div class="flex flex-row items-center p-5">
            <label for="other" class="text-xl mr-5">Annat typ av tak</label>
            <input type="text" name="other" id="other" class="border-2 border-gray-700 rounded-md py-3 px-3 w-80">
        </div>
        <div>
            <button type="submit" class="rounded mt-10 bg-green-500 py-4 help px-7 uppercase text-white">NÄSTA</button>
        </div>
    </form>
</div>

    




    <%-include('../includes/help.ejs')%>
        <div class="md:p-20 p-5 bg-gray-300 mt-20 bottom-0 mx-2">
            <%-include('../includes/newsletter.ejs')%>
                <%-include('../includes/bottomNav.ejs')%>
        </div>

        <%-include('../includes/footer.ejs')%>